*.so
*.o
*.a
splinter_test
splinterp_test
splinter_stress
splinterp_stress
splinter_cli
splinterp_cli
bindings/rust/Cargo.lock
bindings/rust/src/bindings.rs
bindings/rust/target
*-tap-test
mrsw_test_*
