<div class="card shadow--lw homepage_card margin-top--sm">
  <div class="card__header">
    <h2>{{ title }}</h2>
  </div>
  <div class="card__body font-selectable">
    <p>
      {{ body }}
    </p>
  </div>
  <div class="card__footer">
    <a href="{{ href }}" class="navbar__link">
      <button class="button button--primary button--md button--block">
        {{ cta }}
      </button>
    </a>
  </div>
</div>
