<div class="hero hero--dark">
  <div class="container">
    <h1 class="hero__title">{{ title }}</h1>
    <p class="hero__subtitle font-selectable" style="font-size: 18px;">{{ slogan }}</p>
    <a href="{{ href }}">
      <button class="button button--primary button--lg">{{ cta }}</button>
    </a>
  </div>
</div>
