@font-face {
  font-family: "opendyslexic";
  src:
    url("/fonts/OpenDyslexic-Regular.woff2") format("woff2"),
    url("/fonts/OpenDyslexic-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "opendyslexic";
  src:
    url("/fonts/OpenDyslexic-Italic.woff2") format("woff2"),
    url("/fonts/OpenDyslexic-Italic.otf") format("opentype");
  font-style: italic;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "opendyslexic";
  src:
    url("/fonts/OpenDyslexic-Bold.woff2") format("woff2"),
    url("/fonts/OpenDyslexic-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "opendyslexic";
  src: url("/fonts/OpenDyslexic-Bold-Italic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
