#page-feedback {
  display: none;
  max-width: 550px;
  margin: 1.5em 0 1.5em;
  border: 1px dashed var(--ifm-color-secondary);
  border-radius: 0.45em;
}

#page-feedback img {
  height: 24px;
  width: auto;
  display: inline;
  padding-top: 2px;
}

#page-feedback p {
  font-weight: bold;
}

#page-feedback label {
  margin: 1em 1em 0 1em;
}

#page-feedback textarea {
  margin-left: 1em;
  max-height: 250px;
  width: 92%;
  display: block;
  border: 1px solid steelblue;
}

#page-feedback .feedback__bumper {
  display: inline;
  float: right;
  padding: none;
  margin: 0 0 0 1em;
}

#page-feedback .feedback__bumper p {
  display: inline;
  font-size: 10pt;
  font-weight: normal;
  margin-bottom: -1px;
  margin-right: 10px;
}

[data-font="user"] {
  #page-feedback .feedback__bumper p {
    margin-right: 15px;
  }
}

#page-feedback-form {
  display: none;
}

#page-feedback .pills__item--active {
  background: lightblue;
  color: var(--ifm-pills-color-active);
}

#page-feedback .pills__item:not(.pills__item--active):hover {
  background: lightblue;
}

#page-feedback .verify {
  display: none;
}

#page-feedback .pills__item:not(.pills__item--active) {
  background: #dbdbdb;
}

#page-feedback-alert {
  display: none;
  margin-top: 1.5em;
}
