{{ include "layouts/base.vto" }}
<body>
  {{ include "partials/nav.vto" }}
  <div class="main-wrapper">
    <main>
      <div class="container margin-top--sm">
        {{ include "templates/post-archive-template.vto" }}
      </div>
    </main>
  </div>
  {{ include "partials/footer.vto" }}
</body>
</html>
